body
{
	background-color:#000000;	
}
.textcolorvisible
{
	color:#FFFFFF;	
}

.textcolorinvisible
{
	color:#000000;
}
.bigfont
{
	font-size:110px;
}

.verybigfont
{
	font-size:165px;
}
.smallfont
{
	font-size:45px;
}
.tinyfont
{
	font-size:28px;
}
.xsfont
{
	font-size:25px;
}
.xxsfont
{
	font-size:20px;
}
.averagefont
{
	font-size:60px;
}
.mediumfont
{
	font-size:90px;
}
.leftAlign
{
	text-align:left;
}
.rightAlign
{
	text-align:right;
}
.puzzleDiv
{
	padding-bottom:10px;
}
hr
{
	height:10px;
}
.bold
{
	font-weight:bold;
}
.panel
{
	
}
.forecastHolder
{
	margin-bottom:3px;
	
	
	
	
}
.spacer
{
	padding-right:5px;
}
.nonpuzzle
{
	display:block;
}
.puzzle
{
	display:none;
}
iframe{
    overflow:hidden;
}

h4 {
	font-size: 100%;
  }


  /*time Icon*/

  time.icon
{
  font-size: 0.5em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #000;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #000;
  border-bottom: 1px  #fff;
  box-shadow: 0 2px 0 #fff;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #FFF;
}

time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #FFF;
}

